
.flag-sm, .flag-md, .flag-lg{
	background-size: auto 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    display: inline-block;
	width: 1em;	
	height: 1em;	
}

.flag-sm{
	width: 20px !important;
	height: 16px !important;
}
.flag-md{
	width: 35px !important;
	height: 35px !important;
	border-radius: 50%;
}
.flag-lg{
	width: 100px !important;
	height: 75px !important;
}

    .AD{
        background-image:url('../img/flags/svg/world/ad.png')}
    .AE{
        background-image:url('../img/flags/svg/world/ae.png')}
    .AF{
        background-image:url('../img/flags/svg/world/af.png')}
    .AG{
        background-image:url('../img/flags/svg/world/ag.png')}
    .AI{
        background-image:url('../img/flags/svg/world/ai.png')}
    .AL{
        background-image:url('../img/flags/svg/world/al.png')}
    .AM{
        background-image:url('../img/flags/svg/world/am.png')}
    .AO{
        background-image:url('../img/flags/svg/world/ao.png')}
    .AQ{
        background-image:url('../img/flags/svg/world/aq.png')}
    .AR{
        background-image:url('../img/flags/svg/world/ar.png')}
    .AS{
        background-image:url('../img/flags/svg/world/as.png')}
    .AT{
        background-image:url('../img/flags/svg/world/at.png')}
    .AU{
        background-image:url('../img/flags/svg/world/au.png')}
    .AW{
        background-image:url('../img/flags/svg/world/aw.png')}
    .AX{
        background-image:url('../img/flags/svg/world/ax.png')}
    .AZ{
        background-image:url('../img/flags/svg/world/az.png')}
    .BA{
        background-image:url('../img/flags/svg/world/ba.png')}
    .BB{
        background-image:url('../img/flags/svg/world/bb.png')}
    .BD{
        background-image:url('../img/flags/svg/world/bd.png')}
    .BE{
        background-image:url('../img/flags/svg/world/be.png')}
    .BF{
        background-image:url('../img/flags/svg/world/bf.png')}
    .BG{
        background-image:url('../img/flags/svg/world/bg.png')}
    .BH{
        background-image:url('../img/flags/svg/world/bh.png')}
    .BI{
        background-image:url('../img/flags/svg/world/bi.png')}
    .BJ{
        background-image:url('../img/flags/svg/world/bj.png')}
    .BL{
        background-image:url('../img/flags/svg/world/bl.png')}
    .BM{
        background-image:url('../img/flags/svg/world/bm.png')}
    .BN{
        background-image:url('../img/flags/svg/world/bn.png')}
    .BO{
        background-image:url('../img/flags/svg/world/bo.png')}
    .BR{
        background-image:url('../img/flags/svg/world/br.png')}
    .BS{
        background-image:url('../img/flags/svg/world/bs.png')}
    .BT{
        background-image:url('../img/flags/svg/world/bt.png')}
    .BV{
        background-image:url('../img/flags/svg/world/bv.png')}
    .BW{
        background-image:url('../img/flags/svg/world/bw.png')}
    .BY{
        background-image:url('../img/flags/svg/world/by.png')}
    .BZ{
        background-image:url('../img/flags/svg/world/bz.png')}
    .CA{
        background-image:url('../img/flags/svg/world/ca.png')}
    .CC{
        background-image:url('../img/flags/svg/world/cc.png')}
    .CD{
        background-image:url('../img/flags/svg/world/cd.png')}
    .CF{
        background-image:url('../img/flags/svg/world/cf.png')}
    .CG{
        background-image:url('../img/flags/svg/world/cg.png')}
    .CH{
        background-image:url('../img/flags/svg/world/ch.png')}
    .CI{
        background-image:url('../img/flags/svg/world/ci.png')}
    .CK{
        background-image:url('../img/flags/svg/world/ck.png')}
    .CL{
        background-image:url('../img/flags/svg/world/cl.png')}
    .CM{
        background-image:url('../img/flags/svg/world/cm.png')}
    .CN{
        background-image:url('../img/flags/svg/world/cn.png')}
    .CO{
        background-image:url('../img/flags/svg/world/co.png')}
    .CR{
        background-image:url('../img/flags/svg/world/cr.png')}
    .CU{
        background-image:url('../img/flags/svg/world/cu.png')}
    .CV{
        background-image:url('../img/flags/svg/world/cv.png')}
    .CW{
        background-image:url('../img/flags/svg/world/cw.png')}
    .CX{
        background-image:url('../img/flags/svg/world/cx.png')}
    .CY{
        background-image:url('../img/flags/svg/world/cy.png')}
    .CZ{
        background-image:url('../img/flags/svg/world/cz.png')}
    .DE{
        background-image:url('../img/flags/svg/world/de.png')}
    .DJ{
        background-image:url('../img/flags/svg/world/dj.png')}
    .DK{
        background-image:url('../img/flags/svg/world/dk.png')}
    .DM{
        background-image:url('../img/flags/svg/world/dm.png')}
    .DO{
        background-image:url('../img/flags/svg/world/do.png')}
    .DZ{
        background-image:url('../img/flags/svg/world/dz.png')}
    .EC{
        background-image:url('../img/flags/svg/world/ec.png')}
    .EE{
        background-image:url('../img/flags/svg/world/ee.png')}
    .EG{
        background-image:url('../img/flags/svg/world/eg.png')}
    .EH{
        background-image:url('../img/flags/svg/world/eh.png')}
    .ER{
        background-image:url('../img/flags/svg/world/er.png')}
    .ES{
        background-image:url('../img/flags/svg/world/es.png')}
    .ET{
        background-image:url('../img/flags/svg/world/et.png')}
    .FI{
        background-image:url('../img/flags/svg/world/fi.png')}
    .FJ{
        background-image:url('../img/flags/svg/world/fj.png')}
    .FK{
        background-image:url('../img/flags/svg/world/fk.png')}
    .FM{
        background-image:url('../img/flags/svg/world/fm.png')}
    .FO{
        background-image:url('../img/flags/svg/world/fo.png')}
    .FR{
        background-image:url('../img/flags/svg/world/fr.png')}
    .GA{
        background-image:url('../img/flags/svg/world/ga.png')}
    .GB{
        background-image:url('../img/flags/svg/world/-enggb-eng.png')}
    .GB{
        background-image:url('../img/flags/svg/world/-nirgb-nir.png')}
    .GB{
        background-image:url('../img/flags/svg/world/-sctgb-sct.png')}
    .GB{
        background-image:url('../img/flags/svg/world/-wlsgb-wls.png')}
    .GB{
        background-image:url('../img/flags/svg/world/gb.png')}
    .GD{
        background-image:url('../img/flags/svg/world/gd.png')}
    .GE{
        background-image:url('../img/flags/svg/world/ge.png')}
    .GF{
        background-image:url('../img/flags/svg/world/gf.png')}
    .GG{
        background-image:url('../img/flags/svg/world/gg.png')}
    .GH{
        background-image:url('../img/flags/svg/world/gh.png')}
    .GI{
        background-image:url('../img/flags/svg/world/gi.png')}
    .GL{
        background-image:url('../img/flags/svg/world/gl.png')}
    .GM{
        background-image:url('../img/flags/svg/world/gm.png')}
    .GN{
        background-image:url('../img/flags/svg/world/gn.png')}
    .GP{
        background-image:url('../img/flags/svg/world/gp.png')}
    .GQ{
        background-image:url('../img/flags/svg/world/gq.png')}
    .GR{
        background-image:url('../img/flags/svg/world/gr.png')}
    .GS{
        background-image:url('../img/flags/svg/world/gs.png')}
    .GT{
        background-image:url('../img/flags/svg/world/gt.png')}
    .GU{
        background-image:url('../img/flags/svg/world/gu.png')}
    .GW{
        background-image:url('../img/flags/svg/world/gw.png')}
    .GY{
        background-image:url('../img/flags/svg/world/gy.png')}
    .HK{
        background-image:url('../img/flags/svg/world/hk.png')}
    .HM{
        background-image:url('../img/flags/svg/world/hm.png')}
    .HN{
        background-image:url('../img/flags/svg/world/hn.png')}
    .HR{
        background-image:url('../img/flags/svg/world/hr.png')}
    .HT{
        background-image:url('../img/flags/svg/world/ht.png')}
    .HU{
        background-image:url('../img/flags/svg/world/hu.png')}
    .ID{
        background-image:url('../img/flags/svg/world/id.png')}
    .IE{
        background-image:url('../img/flags/svg/world/ie.png')}
    .IL{
        background-image:url('../img/flags/svg/world/il.png')}
    .IM{
        background-image:url('../img/flags/svg/world/im.png')}
    .IN{
        background-image:url('../img/flags/svg/world/in.png')}
    .IO{
        background-image:url('../img/flags/svg/world/io.png')}
    .IQ{
        background-image:url('../img/flags/svg/world/iq.png')}
    .IR{
        background-image:url('../img/flags/svg/world/ir.png')}
    .IS{
        background-image:url('../img/flags/svg/world/is.png')}
    .IT{
        background-image:url('../img/flags/svg/world/it.png')}
    .JE{
        background-image:url('../img/flags/svg/world/je.png')}
    .JM{
        background-image:url('../img/flags/svg/world/jm.png')}
    .JO{
        background-image:url('../img/flags/svg/world/jo.png')}
    .JP{
        background-image:url('../img/flags/svg/world/jp.png')}
    .KE{
        background-image:url('../img/flags/svg/world/ke.png')}
    .KG{
        background-image:url('../img/flags/svg/world/kg.png')}
    .KH{
        background-image:url('../img/flags/svg/world/kh.png')}
    .KI{
        background-image:url('../img/flags/svg/world/ki.png')}
    .KM{
        background-image:url('../img/flags/svg/world/km.png')}
    .KN{
        background-image:url('../img/flags/svg/world/kn.png')}
    .KP{
        background-image:url('../img/flags/svg/world/kp.png')}
    .KR{
        background-image:url('../img/flags/svg/world/kr.png')}
    .KW{
        background-image:url('../img/flags/svg/world/kw.png')}
    .KY{
        background-image:url('../img/flags/svg/world/ky.png')}
    .KZ{
        background-image:url('../img/flags/svg/world/kz.png')}
    .LA{
        background-image:url('../img/flags/svg/world/la.png')}
    .LB{
        background-image:url('../img/flags/svg/world/lb.png')}
    .LC{
        background-image:url('../img/flags/svg/world/lc.png')}
    .LI{
        background-image:url('../img/flags/svg/world/li.png')}
    .LK{
        background-image:url('../img/flags/svg/world/lk.png')}
    .LR{
        background-image:url('../img/flags/svg/world/lr.png')}
    .LS{
        background-image:url('../img/flags/svg/world/ls.png')}
    .LT{
        background-image:url('../img/flags/svg/world/lt.png')}
    .LU{
        background-image:url('../img/flags/svg/world/lu.png')}
    .LV{
        background-image:url('../img/flags/svg/world/lv.png')}
    .LY{
        background-image:url('../img/flags/svg/world/ly.png')}
    .MA{
        background-image:url('../img/flags/svg/world/ma.png')}
    .MC{
        background-image:url('../img/flags/svg/world/mc.png')}
    .MD{
        background-image:url('../img/flags/svg/world/md.png')}
    .ME{
        background-image:url('../img/flags/svg/world/me.png')}
    .MF{
        background-image:url('../img/flags/svg/world/mf.png')}
    .MG{
        background-image:url('../img/flags/svg/world/mg.png')}
    .MH{
        background-image:url('../img/flags/svg/world/mh.png')}
    .MK{
        background-image:url('../img/flags/svg/world/mk.png')}
    .ML{
        background-image:url('../img/flags/svg/world/ml.png')}
    .MM{
        background-image:url('../img/flags/svg/world/mm.png')}
    .MN{
        background-image:url('../img/flags/svg/world/mn.png')}
    .MO{
        background-image:url('../img/flags/svg/world/mo.png')}
    .MP{
        background-image:url('../img/flags/svg/world/mp.png')}
    .MQ{
        background-image:url('../img/flags/svg/world/mq.png')}
    .MR{
        background-image:url('../img/flags/svg/world/mr.png')}
    .MS{
        background-image:url('../img/flags/svg/world/ms.png')}
    .MT{
        background-image:url('../img/flags/svg/world/mt.png')}
    .MU{
        background-image:url('../img/flags/svg/world/mu.png')}
    .MV{
        background-image:url('../img/flags/svg/world/mv.png')}
    .MW{
        background-image:url('../img/flags/svg/world/mw.png')}
    .MX{
        background-image:url('../img/flags/svg/world/mx.png')}
    .MY{
        background-image:url('../img/flags/svg/world/my.png')}
    .MZ{
        background-image:url('../img/flags/svg/world/mz.png')}
    .NA{
        background-image:url('../img/flags/svg/world/na.png')}
    .NC{
        background-image:url('../img/flags/svg/world/nc.png')}
    .NE{
        background-image:url('../img/flags/svg/world/ne.png')}
    .NF{
        background-image:url('../img/flags/svg/world/nf.png')}
    .NG{
        background-image:url('../img/flags/svg/world/ng.png')}
    .NI{
        background-image:url('../img/flags/svg/world/ni.png')}
    .NL{
        background-image:url('../img/flags/svg/world/nl.png')}
    .NO{
        background-image:url('../img/flags/svg/world/no.png')}
    .NP{
        background-image:url('../img/flags/svg/world/np.png')}
    .NR{
        background-image:url('../img/flags/svg/world/nr.png')}
    .NU{
        background-image:url('../img/flags/svg/world/nu.png')}
    .NZ{
        background-image:url('../img/flags/svg/world/nz.png')}
    .OM{
        background-image:url('../img/flags/svg/world/om.png')}
    .PA{
        background-image:url('../img/flags/svg/world/pa.png')}
    .PE{
        background-image:url('../img/flags/svg/world/pe.png')}
    .PF{
        background-image:url('../img/flags/svg/world/pf.png')}
    .PG{
        background-image:url('../img/flags/svg/world/pg.png')}
    .PH{
        background-image:url('../img/flags/svg/world/ph.png')}
    .PK{
        background-image:url('../img/flags/svg/world/pk.png')}
    .PL{
        background-image:url('../img/flags/svg/world/pl.png')}
    .PM{
        background-image:url('../img/flags/svg/world/pm.png')}
    .PN{
        background-image:url('../img/flags/svg/world/pn.png')}
    .PR{
        background-image:url('../img/flags/svg/world/pr.png')}
    .PS{
        background-image:url('../img/flags/svg/world/ps.png')}
    .PT{
        background-image:url('../img/flags/svg/world/pt.png')}
    .PW{
        background-image:url('../img/flags/svg/world/pw.png')}
    .PY{
        background-image:url('../img/flags/svg/world/py.png')}
    .QA{
        background-image:url('../img/flags/svg/world/qa.png')}
    .RE{
        background-image:url('../img/flags/svg/world/re.png')}
    .RO{
        background-image:url('../img/flags/svg/world/ro.png')}
    .RS{
        background-image:url('../img/flags/svg/world/rs.png')}
    .RU{
        background-image:url('../img/flags/svg/world/ru.png')}
    .RW{
        background-image:url('../img/flags/svg/world/rw.png')}
    .SA{
        background-image:url('../img/flags/svg/world/sa.png')}
    .SB{
        background-image:url('../img/flags/svg/world/sb.png')}
    .SC{
        background-image:url('../img/flags/svg/world/sc.png')}
    .SD{
        background-image:url('../img/flags/svg/world/sd.png')}
    .SE{
        background-image:url('../img/flags/svg/world/se.png')}
    .SG{
        background-image:url('../img/flags/svg/world/sg.png')}
    .SH{
        background-image:url('../img/flags/svg/world/sh.png')}
    .SI{
        background-image:url('../img/flags/svg/world/si.png')}
    .SJ{
        background-image:url('../img/flags/svg/world/sj.png')}
    .SK{
        background-image:url('../img/flags/svg/world/sk.png')}
    .SL{
        background-image:url('../img/flags/svg/world/sl.png')}
    .SM{
        background-image:url('../img/flags/svg/world/sm.png')}
    .SN{
        background-image:url('../img/flags/svg/world/sn.png')}
    .SO{
        background-image:url('../img/flags/svg/world/so.png')}
    .SR{
        background-image:url('../img/flags/svg/world/sr.png')}
    .SS{
        background-image:url('../img/flags/svg/world/ss.png')}
    .ST{
        background-image:url('../img/flags/svg/world/st.png')}
    .SV{
        background-image:url('../img/flags/svg/world/sv.png')}
    .SX{
        background-image:url('../img/flags/svg/world/sx.png')}
    .SY{
        background-image:url('../img/flags/svg/world/sy.png')}
    .SZ{
        background-image:url('../img/flags/svg/world/sz.png')}
    .TC{
        background-image:url('../img/flags/svg/world/tc.png')}
    .TD{
        background-image:url('../img/flags/svg/world/td.png')}
    .TF{
        background-image:url('../img/flags/svg/world/tf.png')}
    .TG{
        background-image:url('../img/flags/svg/world/tg.png')}
    .TH{
        background-image:url('../img/flags/svg/world/th.png')}
    .TJ{
        background-image:url('../img/flags/svg/world/tj.png')}
    .TK{
        background-image:url('../img/flags/svg/world/tk.png')}
    .TL{
        background-image:url('../img/flags/svg/world/tl.png')}
    .TM{
        background-image:url('../img/flags/svg/world/tm.png')}
    .TN{
        background-image:url('../img/flags/svg/world/tn.png')}
    .TO{
        background-image:url('../img/flags/svg/world/to.png')}
    .TR{
        background-image:url('../img/flags/svg/world/tr.png')}
    .TT{
        background-image:url('../img/flags/svg/world/tt.png')}
    .TV{
        background-image:url('../img/flags/svg/world/tv.png')}
    .TW{
        background-image:url('../img/flags/svg/world/tw.png')}
    .TZ{
        background-image:url('../img/flags/svg/world/tz.png')}
    .UA{
        background-image:url('../img/flags/svg/world/ua.png')}
    .UG{
        background-image:url('../img/flags/svg/world/ug.png')}
    .UM{
        background-image:url('../img/flags/svg/world/um.png')}
    .US{
        background-image:url('../img/flags/svg/world/us.png')}
    .UY{
        background-image:url('../img/flags/svg/world/uy.png')}
    .UZ{
        background-image:url('../img/flags/svg/world/uz.png')}
    .VA{
        background-image:url('../img/flags/svg/world/va.png')}
    .VC{
        background-image:url('../img/flags/svg/world/vc.png')}
    .VE{
        background-image:url('../img/flags/svg/world/ve.png')}
    .VG{
        background-image:url('../img/flags/svg/world/vg.png')}
    .VI{
        background-image:url('../img/flags/svg/world/vi.png')}
    .VN{
        background-image:url('../img/flags/svg/world/vn.png')}
    .VU{
        background-image:url('../img/flags/svg/world/vu.png')}
    .WF{
        background-image:url('../img/flags/svg/world/wf.png')}
    .WS{
        background-image:url('../img/flags/svg/world/ws.png')}
    .YE{
        background-image:url('../img/flags/svg/world/ye.png')}
    .YT{
        background-image:url('../img/flags/svg/world/yt.png')}
    .ZA{
        background-image:url('../img/flags/svg/world/za.png')}
    .ZM{
        background-image:url('../img/flags/svg/world/zm.png')}
    .ZW{
        background-image:url('../img/flags/svg/world/zw.png')}

