#app-box.container
  .row
    //- -
    //-                   var post = {
    //-                       type:'news-card--over',
    //-                       img:imgs[i],
    //-                       text:titles[i],
    //-                       theme:'card_over'
    //-                   }
    -for(let x = 0 ; x < 4 ;x++)
      .col-md-3
        include ../components/_news-card.pug












