
// Bahij-greta-arabic



@font-face {
  font-family: 'Bahij-greta-arabic';
  font-style: normal;
  font-weight: 100;
  src:  url('./fonts/Bahij-greta-arabic/Bahij_Greta_Arabic-Regular.ttf');
}

@font-face {
  font-family: 'Bahij-greta-arabic';
  font-style: normal;
  font-weight: 300;
  src:  url('./fonts/Bahij-greta-arabic/Bahij_Greta_Arabic-Medium.ttf');
}

@font-face {
  font-family: 'Bahij-greta-arabic';
  font-style: normal;
  font-weight: 600;
  src:  url('./fonts/Bahij-greta-arabic/Bahij_Greta_Arabic-Bold.eot'),
  url('./fonts/Bahij-greta-arabic/Bahij_Greta_Arabic-Bold.ttf'),
  url('./fonts/Bahij-greta-arabic/Bahij_Greta_Arabic-Bold.woff');
}

