.home-search
  a(href="#" ).home-search__advanced.touch
    .home-search__text بحث متقدم
    .home-search__rotate
  .home-search__inputs
    .home-search__city.mb20
      .icons
        svg#Layer_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 100 125', style='enable-background:new 0 0 100 125;', xml:space='preserve')
          g(transform='matrix( 1, 0, 0, 1, 0,0) ')
            g
              g#a
                path(d='M75,40c0-9.7-3.4-17.9-10.3-24.8C57.9,8.4,49.7,5,40,5c-9.7,0-17.9,3.4-24.8,10.2l0,0C8.4,22.1,5,30.3,5,40     c0,9.7,3.4,17.9,10.2,24.7C22.1,71.6,30.3,75,40,75c9.7,0,17.9-3.4,24.7-10.3l0.1-0.1c4.9-4.9,8-10.5,9.4-16.9h0     C74.7,45.3,75,42.7,75,40 M57.7,22.3C62.6,27.2,65,33.1,65,40c0,2-0.2,3.9-0.6,5.7v0c-1,4.5-3.2,8.5-6.8,12l0,0     C52.8,62.6,46.9,65,40,65c-6.9,0-12.8-2.4-17.8-7.3C17.4,52.8,15,46.9,15,40c0-6.9,2.4-12.8,7.3-17.7l0,0     C27.2,17.4,33.1,15,40,15C46.9,15,52.8,17.4,57.7,22.3 M95,90c0-1.4-0.5-2.6-1.5-3.6l-20-20c-1-1-2.1-1.4-3.5-1.4     c-1.4,0-2.6,0.5-3.6,1.4c-1,1-1.4,2.2-1.4,3.6c0,1.4,0.5,2.5,1.4,3.5l20,20c1,1,2.2,1.5,3.6,1.5c1.4,0,2.5-0.5,3.5-1.5     C94.5,92.5,95,91.4,95,90z')
      input(type="text" placeholder="المسمى الوظيفي أو الكلمات الرئيسية أو الشركة")
    .home-search__city.mb20
      .icons
        svg#Layer_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 30 30', style='enable-background:new 0 0 30 30;', xml:space='preserve')
          path(d='M15,2C8.925,2,4,6.925,4,13c0,7.234,7.152,10.697,8.048,11.503c0.915,0.823,1.671,2.668,1.976,3.714  c0.148,0.508,0.564,0.765,0.976,0.776c0.413-0.012,0.828-0.269,0.976-0.776c0.305-1.046,1.061-2.89,1.976-3.714  C18.848,23.697,26,20.234,26,13C26,6.925,21.075,2,15,2z M15,16c-1.657,0-3-1.343-3-3s1.343-3,3-3s3,1.343,3,3S16.657,16,15,16z')

      input(type="text" placeholder="الدولة او المدينة او المنطقة")
    a(href="#" ).search-request.Btn.Btn--primary بحث
          .icons.touch
            svg#Layer_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 100 125', style='enable-background:new 0 0 100 125;', xml:space='preserve')
              g(transform='matrix( 1, 0, 0, 1, 0,0) ')
                g
                  g#a
                    path(d='M75,40c0-9.7-3.4-17.9-10.3-24.8C57.9,8.4,49.7,5,40,5c-9.7,0-17.9,3.4-24.8,10.2l0,0C8.4,22.1,5,30.3,5,40     c0,9.7,3.4,17.9,10.2,24.7C22.1,71.6,30.3,75,40,75c9.7,0,17.9-3.4,24.7-10.3l0.1-0.1c4.9-4.9,8-10.5,9.4-16.9h0     C74.7,45.3,75,42.7,75,40 M57.7,22.3C62.6,27.2,65,33.1,65,40c0,2-0.2,3.9-0.6,5.7v0c-1,4.5-3.2,8.5-6.8,12l0,0     C52.8,62.6,46.9,65,40,65c-6.9,0-12.8-2.4-17.8-7.3C17.4,52.8,15,46.9,15,40c0-6.9,2.4-12.8,7.3-17.7l0,0     C27.2,17.4,33.1,15,40,15C46.9,15,52.8,17.4,57.7,22.3 M95,90c0-1.4-0.5-2.6-1.5-3.6l-20-20c-1-1-2.1-1.4-3.5-1.4     c-1.4,0-2.6,0.5-3.6,1.4c-1,1-1.4,2.2-1.4,3.6c0,1.4,0.5,2.5,1.4,3.5l20,20c1,1,2.2,1.5,3.6,1.5c1.4,0,2.5-0.5,3.5-1.5     C94.5,92.5,95,91.4,95,90z')

.jobs-today
  a(href="#") 17,300 وظيفة
  span هذا الشهر من ضمنها
  a(href="#") 2151 وظيفة اليوم

.countries-jobs.touch
  .countries-jobs__notice فرص عمل في :
  -for(let x = 0 ;x < 10 ; x++)
    a(href="#").countries-jobs__country مصر
  a.icons(href="#")
    svg#Capa_1(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewBox='0 0 60 60', style='enable-background:new 0 0 60 60;', xml:space='preserve')
      g
        path(d='M8,22c-4.411,0-8,3.589-8,8s3.589,8,8,8s8-3.589,8-8S12.411,22,8,22z')
        path(d='M52,22c-4.411,0-8,3.589-8,8s3.589,8,8,8s8-3.589,8-8S56.411,22,52,22z')
        path(d='M30,22c-4.411,0-8,3.589-8,8s3.589,8,8,8s8-3.589,8-8S34.411,22,30,22z')

