.job-card.border.padding
  .job-card__title.mb15 مبرمج
  .job-card__smallTitle.mb10.smallTitle جريد الأهرام
  .job-card__smallTitle.mb10.smallTitle مصر-القاهرة
  .job-card__text.normalTitle هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.
  .job-card__buttons.mt15
    a(href="single-job-ar.html").Btn.Btn--primary.ml20 عرض
    a.Btn.Btn--secondary مشاركة
