.mail-card.border.smPadding
  .mail-card__title.mb15.lgTitle احصل على الوظائف عبر البريد الالكتروني
  .mail-card__text.smallTitle هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها.
  .mail-card__inputs.mt20
    input.inputText(type="text" placeholder = "البريد الإلكتروني")
    button.Btn.Btn--primary.mr15 اشتراك
