
//- -if(!post.img) post.img = 'img/content/1.jpg'


.news-card(class=post.className)
    a.news-card__link(href="#1")
    //- .news-card__views
    //-     p 65655
    //-     span.icon
    //-         svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 469.333 469.333', style='enable-background:new 0 0 469.333 469.333;', xml:space='preserve')
    //-             g
    //-                 g
    //-                 g
    //-                     path(d='M234.667,170.667c-35.307,0-64,28.693-64,64s28.693,64,64,64s64-28.693,64-64S269.973,170.667,234.667,170.667z')
    //-                     path(d='M234.667,74.667C128,74.667,36.907,141.013,0,234.667c36.907,93.653,128,160,234.667,160\
    //-                     c106.773,0,197.76-66.347,234.667-160C432.427,141.013,341.44,74.667,234.667,74.667z M234.667,341.333\
    //-                     c-58.88,0-106.667-47.787-106.667-106.667S175.787,128,234.667,128s106.667,47.787,106.667,106.667\
    //-                     S293.547,341.333,234.667,341.333z')

    .news-card__img
        img(src=`img/content/${post.img}`)
        -if(post.theme == 'card_over' || post.theme == 'card_news')
            a.news-card__category.btn.btn--sm.btn--primary(href="#2") رياضة
        -if(post.theme == 'card_video')
            span.icon.news-card__video
                svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 366.56 366.56', style='enable-background:new 0 0 366.56 366.56;', xml:space='preserve')
                    g
                        g
                        path(d='M295.312,179.832c-0.61-1.062-1.491-1.942-2.552-2.552l-79.36-46l-0.4-0.2l-78.96-45.4\
                        c-3.316-1.9-7.545-0.752-9.444,2.564c-0.599,1.046-0.915,2.23-0.916,3.436v183.24c0.022,3.813,3.107,6.898,6.92,6.92\
                        c1.434-0.002,2.831-0.449,4-1.28l78.8-45.28l79.36-46C296.074,187.376,297.216,183.146,295.312,179.832z')
                    g
                        g
                        path(d='M183.28,0C82.057,0,0,82.057,0,183.28s82.057,183.28,183.28,183.28s183.28-82.057,183.28-183.28S284.503,0,183.28,0z\
                        M183.28,332.52c-82.423,0-149.24-66.817-149.24-149.24S100.857,34.04,183.28,34.04s149.24,66.817,149.24,149.24\
                        S265.703,332.52,183.28,332.52z')
    .news-card__caption
        h4.news-card__title #{post.text}  
        .news-card__down
            -if(post.theme == 'card_over' || post.theme == 'card_video' || post.theme == 'card_news')
                //- p.news-card__author محمد أحمد محمد
                p.news-card__date.roundDot منذ 5 ساعات
            -if(post.theme == 'card_event')
                .news-card__target
                    span.icon
                        svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 512 512', style='enable-background:new 0 0 512 512;', xml:space='preserve')
                            g
                                g
                                path(d='M256,0C153.755,0,70.573,83.182,70.573,185.426c0,126.888,165.939,313.167,173.004,321.035\
                                c6.636,7.391,18.222,7.378,24.846,0c7.065-7.868,173.004-194.147,173.004-321.035C441.425,83.182,358.244,0,256,0z M256,278.719\
                                c-51.442,0-93.292-41.851-93.292-93.293S204.559,92.134,256,92.134s93.291,41.851,93.291,93.293S307.441,278.719,256,278.719z')

                    span القاهرة
                .news-card__calendar
                    span.icon
                        svg(height='617pt', viewBox='-29 -19 617 617.33507', width='617pt', xmlns='http://www.w3.org/2000/svg')
                            path(d='m139.144531 299.351562c-55.53125-.054687-105.8125 32.800782-128.042969 83.683594-22.238281 50.882813-12.191406 110.105469 25.574219 150.8125 2.378907 2.65625 4.902344 5.179688 7.550781 7.5625 45.878907 42.605469 114.496094 49.492188 167.917969 16.84375 53.425781-32.652344 78.601563-96.859375 61.605469-157.113281-16.988281-60.261719-71.996094-101.855469-134.605469-101.789063zm9.976563 139.699219c0 5.511719-4.464844 9.980469-9.976563 9.980469h-59.871093c-5.511719 0-9.976563-4.46875-9.976563-9.980469 0-5.507812 4.464844-9.976562 9.976563-9.976562h49.894531v-89.808594c0-5.507813 4.464843-9.976563 9.976562-9.976563s9.976563 4.46875 9.976563 9.976563zm0 0')
                            path(d='m558.238281 159.65625h-518.878906v154.863281c1.46875-1.175781 2.992187-2.214843 4.527344-3.339843 1.539062-1.132813 2.996093-2.246094 4.492187-3.304688 3.09375-2.132812 6.265625-4.121094 9.492188-5.988281 1.09375-.648438 2.140625-1.363281 3.25-1.992188 4.339844-2.445312 8.804687-4.664062 13.351562-6.691406 1.238282-.542969 2.507813-.992187 3.761719-1.503906 3.414063-1.40625 6.855469-2.742188 10.355469-3.921875 1.699218-.566406 3.414062-1.058594 5.128906-1.5625 3.183594-.960938 6.398438-1.8125 9.652344-2.570313 1.785156-.410156 3.574218-.804687 5.375-1.164062 3.425781-.667969 6.867187-1.179688 10.328125-1.628907 1.609375-.199218 3.191406-.457031 4.800781-.617187 5.0625-.488281 10.148438-.796875 15.269531-.796875 88.117188.105469 159.527344 71.5 159.65625 159.613281 0 5.121094-.3125 10.207031-.800781 15.265625-.160156 1.609375-.417969 3.195313-.617188 4.789063-.441406 3.476562-1 6.929687-1.628906 10.339843-.359375 1.808594-.757812 3.582032-1.167968 5.367188-.746094 3.265625-1.613282 6.496094-2.574219 9.703125-.496094 1.695313-.996094 3.390625-1.554688 5.066406-1.1875 3.570313-2.546875 7.074219-3.992187 10.546875-.488282 1.175782-.90625 2.382813-1.429688 3.554688-2.03125 4.589844-4.277344 9.078125-6.734375 13.460937-.550781.996094-1.199219 1.914063-1.773437 2.894531-1.996094 3.363282-4.050782 6.664063-6.277344 9.867188-.996094 1.457031-2.085938 2.855469-3.144531 4.273438-1.058594 1.410156-2.210938 3.152343-3.429688 4.65625h264.628907c16.53125 0 29.933593-13.402344 29.933593-29.933594zm0 0')
                            path(d='m558.238281 89.804688c0-16.53125-13.402343-29.933594-29.933593-29.933594h-19.957032v29.933594c0 5.511718-4.46875 9.980468-9.980468 9.980468-5.507813 0-9.976563-4.46875-9.976563-9.980468v-29.933594h-79.828125v29.933594c0 5.511718-4.46875 9.980468-9.976562 9.980468-5.511719 0-9.980469-4.46875-9.980469-9.980468v-29.933594h-79.828125v29.933594c0 5.511718-4.46875 9.980468-9.976563 9.980468-5.511719 0-9.980469-4.46875-9.980469-9.980468v-29.933594h-79.828124v29.933594c0 5.511718-4.464844 9.980468-9.976563 9.980468s-9.980469-4.46875-9.980469-9.980468v-29.933594h-79.824218v29.933594c0 5.511718-4.46875 9.980468-9.980469 9.980468s-9.976563-4.46875-9.976563-9.980468v-29.933594h-19.957031c-16.539063 0-29.9375 13.402344-29.9375 29.933594v49.894531h518.878906zm0 0')
                            path(d='m298.800781 0c-5.511719 0-9.980469 4.46875-9.980469 9.976562v49.894532h19.957032v-49.894532c0-5.507812-4.46875-9.976562-9.976563-9.976562zm0 0')
                            path(d='m398.585938 0c-5.511719 0-9.980469 4.46875-9.980469 9.976562v49.894532h19.957031v-49.894532c0-5.507812-4.46875-9.976562-9.976562-9.976562zm0 0')
                            path(d='m508.347656 9.976562c0-5.507812-4.46875-9.976562-9.980468-9.976562-5.507813 0-9.976563 4.46875-9.976563 9.976562v49.894532h19.957031zm0 0')
                            path(d='m199.015625 0c-5.511719 0-9.980469 4.46875-9.980469 9.976562v49.894532h19.957032v-49.894532c0-5.507812-4.464844-9.976562-9.976563-9.976562zm0 0')
                            path(d='m99.230469 0c-5.511719 0-9.976563 4.46875-9.976563 9.976562v49.894532h19.957032v-49.894532c0-5.507812-4.46875-9.976562-9.980469-9.976562zm0 0')

                    span 20/1/2020 - 05:00 PM
