.club-column
    -for(let x =0 ; x < 11 ; x++)
        a(href="#").club-column__cell
            .club-column__img-holder
                img(src="img/logos/ahly.png", alt="")
            .club-column__name
                span الأهلي
