doctype html
html(dir='ltr')
  head
    //- link(rel="icon" href="img/fav.png" type="image/png" sizes="16x16")
    link(rel='stylesheet' href='css/ltr-style.css')
    //- link(rel='stylesheet' href='css/grid.css')
    meta( name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(charset="UTF-8")
    title Shoghlanty
  body
    -var data = dataEn
    -var rtl = false
    -var ext = '-en.html'

    #js-app(data-scrolltype=page_type)
      include _header.pug
      block content
      include _footer.pug
    script(src="js/bundle.min.js" async )
