doctype html
html(dir='rtl')
  head
    link(rel="icon" href="img/logoKora.png" type="image/png" )
    link(rel='stylesheet' href='css/rtl-style.css')
    //- link(rel='stylesheet' href='css/grid.css')
    meta( name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(charset="UTF-8")

    title الكورة اليوم
  body
    -
      let titles = [
          'منذ أيام وتنتشر صورة الممثل حاتم جميل عبر مواقع التواصل الاجتماعي، والتعليق عليها واحد وهو "بالله عليك كيف عرفت إني" مع تغيير الموقف والتعديل على الصورة، ولكن من هو حاتم جميل.',
          'حاتم جميل من مواليد 18 سبتمبر 1971، بدأ حياته الفنية في مسرح المدرسة، وعرض على السيناريست أحمد عبد الله المشاركة في أحد أعماله بصفته جاره،',
          'وبالفعل اختاره لدور التلميذ المشاغب في فيلم "الناظر" الذي عُرض عام 2000، وشاركه البطولة كل من علاء ولي الدين وأحمد حلمي وهشام سليم ومن إخراج شريف عرفة.',
          'وغاب بعدها جميل لسفره خارج البلاد في محاولة لكسب العيش ولكنه عاد من جديد لأرض الوطن.',
          'واستكمل طريقه في الفن ولكن في أدوار صغيرة من بينها دوره في فيلم "عبده موتة" و"يانا يا خالتي" و"الفرح" "والزمهلاوية" و"من ضهر راجل" و"عمر الأزرق" ومؤخرا مسلسل "ضد مجهول"',
          'كشف حاتم أنه يحرص على كتابة إفيهاته الكوميدية الشهيرة بنفسه، وبرر ذلك قائلا: "عشان مساحة دوري ليست كبيرة، أحب أكون موجود بترك علامة"، ومن بين هذه الإفيهات "محدش هيتعلم هنا" في فيلم "الناظر" و"مالك ياض ياوش" في "يانا يا خالتي".',
          'لحاتم جميل عمل آخر بعيد تماما عن الفن، فهو يمتلك شركة استيراد وتصدير في إيطاليا وفرع آخر في مصر بمشاركة أشقائه، كما يمتلك جميل مقهى شعبي "قهوة" في حي بين السرايات.',
          'حاتم جميل يحب الرياضة وكشف أنه امتلاكه لجسد رياضي لم يكن بسبب احترافه لدور البلطجي، بل حبا في لعب الرياضة ومنحيات الجسم الرياضية.',
          'لا يزال حادث اقتحام فيلا الفنانة اللبنانية نانسي عجرم الذي انتهى بمقتل السارق على يد زوجها الدكتور فادي الهاشم يثير الكثير من الجدل والتساؤلات وبخاصة في أعقاب الجلسة الأولى من محاكمة الهاشم وما ورد بها',
          'ونفت محامية القتيل أن يكون جمع معلومات عن نانسي عجرم وزوجها فادي الهاشم قرابة أشهر، ولو كان حدث سيعلم أن هناك كاميرات وحراسة وأن المنزل من الصعب اختراقه مضيفة أنه من غير المنطقي أن يحدث هذا الأمر.'
      ]
    -let imgs = ['1.jpg','2.jpg','3.jpg','4.jpg','5.jpg','6.jpg','7.jpg','8.jpg','9.jpg','10.jpg']
    -let type = {dash:false}
    -var data = dataAr
    -var rtl = true
    -var ext = '-ar.html'
    -var post = {}

    #js-app(data-scrolltype = page_type)
      include _header.pug
      block content
      //include _search-section
      //- include _footer.pug

    script(src="js/bundle.js"  )

